<ion-header>
  <ion-toolbar>
    <ion-title>House Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-buttons>
    <button id="back-box" ion-button [routerLink]="['/home-client']">
      <ion-icon id="back" name="chevron-back-outline"></ion-icon>
    </button>
  </ion-buttons>
  
  <ion-card class="card">
    <h1 id="house-name">{{accomodation.name}}</h1>
  </ion-card>

  <ion-card class="house-content">
    <ion-img src="assets/img/house1.jpg"></ion-img>

    <ion-card-content>
      <ion-card-subtitle id="location"><ion-icon size="large" name="pin"></ion-icon>{{accomodation.address}}</ion-card-subtitle>
      <h1>Description</h1>
      <p>{{accomodation.description}}</p>

      <ion-icon id="star-rating" size="small" name="star"></ion-icon><h2>3.0 rating</h2>
    </ion-card-content>
  </ion-card>

  <div class="house-info">
    
      <ion-card-subtitle class="info-title">Category</ion-card-subtitle>
      <p class="features align-center"><ion-icon size="small" name="list-outline"></ion-icon> {{accomodation.category}}</p><br>  
    
      <ion-card-subtitle class="info-title">Reservation Fee</ion-card-subtitle>
      <p class="features align-center"><ion-icon size="small" name="pricetags-outline"></ion-icon>{{accomodation.reservationFee}}</p><br>      

      <ion-card-subtitle class="info-title">Monthly Fee</ion-card-subtitle>
      <p class="features align-center"><ion-icon size="small" name="cash-outline"></ion-icon>{{accomodation.monthlyFee}}</p><br>
  </div>
  
  <div class="house-info-cont">
      <ion-card-subtitle class="info-title">Room Count</ion-card-subtitle>
      <p class="features align-center"><ion-icon size="small" name="bed-outline"></ion-icon>{{accomodation.roomCount}} {{accomodation.roomCount > 1 ? "rooms" : "room"}}</p><br>

      <ion-card-subtitle class="info-title">Room Available</ion-card-subtitle>
      <p class="features align-center"><ion-icon size="small" name="bed"></ion-icon>{{accomodation.roomAvailable}} {{accomodation.roomAvailable > 1 ? "rooms" : "room"}}</p><br>
    
      <ion-card-subtitle class="info-title">Space</ion-card-subtitle>
      <p class="features align-center"><ion-icon size="small" name="home-outline"></ion-icon>{{accomodation.space}} sqm</p><br>    
  </div>

  <ion-card class="card-facilities">
    <ion-card-content class="facilities">
        <ion-card-subtitle class="info-title">Facilities</ion-card-subtitle>
        <div class="facilities-wrapper">
            <p class="features feature-item" *ngFor ="let feature of accomodation.facilities"><ion-icon size="small" [name]="wifiIcon"></ion-icon>{{feature}}</p>
        </div>
    </ion-card-content>
  </ion-card>

  <div class="owner">
    <ion-card-subtitle class="info-title">Owner's Contact Details</ion-card-subtitle>
    <p class="info-owner"><ion-icon size="small" name="call"></ion-icon> 0912-345-6789</p>
    <p class="info-owner"><ion-icon size="small" name="logo-facebook"></ion-icon> Thomas Edison</p>
    <p class="info-owner"><ion-icon size="small" name="mail"></ion-icon> thomased@gmail.com</p>
  </div>

  <div class="note">
    <p id="note-content">By clicking 'Reserve' you have already read and understand the Terms and Conditions.</p>
  </div>

  <div class="button-cont">
    <div class="prefer">
      <ion-button id="prefer-button" (click)="addToPrefence()"  expand="block" fill="outline">Add to Preferences</ion-button>
    </div>
    <div class="reserve">
      <ion-button (click)="presentAlert()" id="reserve-button" expand="block" fill="outline">Reserve</ion-button>
    </div>
  </div>

</ion-content>